* {
    box-sizing: border-box;
    
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

p {
    font-size: 4rem;
    color: white;
}

input {
    background-color: white;
    width: 90%;
    padding: 10px;

}
