$primary-font: "Playfair Display", serif;
$primary-color: #59324c;
$accent-color: grey;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

form {
  margin: 0;
  width: 55%;
}

#root,
.main,
.dream-question {
  height: 100%;
  width: 100%;
}

.dream-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  p {
    margin: 0;
    font-size: 4rem;
    color: white;
  }
}

input {
  background-color: white;
  margin-top: 0.75em;
  width: 105%;
}

.dream-submit {
  display: none;
}

.home {
  min-height: 100%;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.dream-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

header {
  background-color: rgb(37, 37, 37);
  padding: 20px;
  color: white;
  font-style: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(236, 236, 236);
  position: relative;
  margin: 5px;

  p {
    margin-top: 40%;
    font-family: $primary-font;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.ribbon3 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  position: absolute;
  left: -3px;
  top: 10px;
  background: $primary-color;
  color: rgb(233, 233, 233);
  border-left: 1px solid black;
}

.ribbon3:after {
  content: "";
  position: absolute;
}

.ribbon3:after {
  height: 0;
  width: 0;
  right: -14.5px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 15px solid $primary-color;
}

.read-more {
  margin-top: 5%;
  margin-left: 50%;
  border: none;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 0.938rem;
}

.read-more:hover {
  color: $accent-color;
}

.analyze-header:hover,
.home-header:hover {
  color: rgb(197, 133, 197);
}

.body-text {
  font-family: $primary-font;
  color: rgb(233, 233, 233);
  padding-left: 20px;
  padding-top: 10px;
}

.light {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 1.625rem;
}

.delete-entry {
  margin-top: 4%;
  margin-left: 55%;
  border: none;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 0.688rem;
}

.delete-entry:hover {
  color: rgb(175, 23, 23);
}

.dream-detail {
  left: 45%;
  top: 10%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
  position: fixed;
  padding: 20px;
  color: black;
  max-width: 400px;
  max-height: 500px;
  background-color: white;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  color: blue;
  width: 9px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $accent-color;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.date-header {
  font-weight: bold;
  font-style: italic;
}

.close-button {
  font-weight: bold;
  max-width: 20px;
  text-align: center;
  font-size: 0.75rem;
  padding: 1px;
  padding-top: 2px;
  border: 1px solid black;
  border-radius: 50%;
}

.close-button:hover {
  color: $accent-color;
  border: 1px solid $accent-color;
}

.analysis-header {
  font-style: italic;
}

.black-border {
  border: 4px solid $accent-color;
  margin: 10px 10px;
  padding: 2em;
  background-color: rgb(236, 236, 236);
  color: black;
}

li::first-letter {
  text-transform: capitalize;
}
